* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Gabarito', sans-serif; 
}
.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
}
.navbar-sec1__title {
    color: #a435f0;
}

.navbar-sec2 {
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    border: solid black 1px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-sec2 input {
     border: none;
     width: 100%;
     font-size: 16px;
}
.navbar-sec2 input:focus {
    outline: none;
}
.navbar-sec3 {
    display: flex;
    gap: 10px;
    align-items: center;
}
/* My Learning Popup */
.mylearning {
    position: relative;
    cursor: pointer;
}
.mylearning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
}
.mylearning:hover .mylearning__popup {
    display: block;
}
.Categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black 1px;
    padding: 10px;
}
.Categories p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: solid #a435f0 1px;
}
.Categories p:hover {
    transition: 1s;
    background-color: white;
    color: black;
    border: solid #a435f0 1px;
}
.sale-img {
    position: relative;
}
.sale-img img {
    width: 100%;
}
.sale-image__offer {
    width: 35%;
    padding: 2%;
    border: solid black 2px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    opacity: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.recommended {
    padding: 10px;
    flex-wrap: wrap;
}
.recommended__container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
.course-card {
   width: 300px;
}
.course-card img {
    width: 100%;
    height: 60%;
}
.topics {
    padding: 10px;
}
.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p {
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular {
    padding: 10px;
}
.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer {
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__one { 
    display: flex;
    gap: 10px;
}
.footer__one p {
    margin: 20px;
}
.footer__two {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}